<div class="flex flex-col justify-center p-3 sm:p-6">
  <h1 class="text-5xl translate-y-3 -z-10 sm:text-7xl font-marker text-center">Comming soon...</h1>
  <img src="/image/工事中.svg" alt="工事中" class="h-56 sm:h-64">
  <p class="text-center m-4">This page is not yet complete. Please stay tuned!</p>
</div>