<footer class="bg-lime-500 grid justify-between grid-cols-1 sm:grid-cols-2 md:grid-cols-3 [&>*]:mx-4 py-8 px-2 sm:px-8">
  <div>
    <p class="text-white text-opacity-60 border-b-2 border-white border-opacity-60 pb-1 mb-2">hello:</p>
    <ul class="grid grid-rows-3 grid-cols-3 min-w-[10rem] ">
      <li><a href="/">home</a></li>
      <li><a href="/docs">docs</a></li>
      <li><a href="/catalog">catalog</a></li>
      <li class="col-span-2"><a href="/component">component</a></li>
    </ul>
  </div>
  <div>
    <p class="text-white text-opacity-60 border-b-2 border-white border-opacity-60 pb-1 mb-2">SNS:</p>
      <ul class="grid grid-rows-3 grid-cols-3 min-w-[10rem] ">
        <li><a href="https://instagram.com/LinoRino_off" target="_blank">Instagram</a></li>
        <li><a href="https://github.com/LinoRino" target="_blank">Github</a></li>
        <li><a href="http://linorino.net">Portfolio</a></li>
      </ul>
  </div>
  <ul class="flex justify-end [&>*]:ml-5 sm:col-span-3">
      <li><a href="/term">Terms of Service</a></li>
      <li><a href="/privacypolicy">Privacy Policy</a></li>
      <li><p class="text-opacity-80 text-white">© Advenccre, Inc.</p></li>
  </ul>
</footer>