<header>
  <nav class="z-50 grid [&_*]:outline-none grid-cols-2 fixed top-0 left-0 w-full justify-between bg-gradient-to-b from-white dark:from-slate-800 to-transparent px-4 py-3">
    <a class="logo flex items-center" href="/">
      <img class="h-10 mr-2 translate-y-[2px] hover:animate-bounce" src="/image/Advenccre.svg" alt="Advenccre icon">
      <span class="font-semibold text-lg sm:text-2xl font-marker hover:animate-pulse">The Advenccre</span>
    </a>
    <ul
    class="flex md:justify-end scroll:h-0 overflow-x-auto items-center [&>*]:transition-all [&>*]:mx-3 [&>*]:font-marker [&>*]:text-lg">
      <li><a href="/" class="hover:text-red-500 focus:text-red-500">home</a></li>
      <li><a href="/docs" class="hover:text-red-500 focus:text-red-500">docs</a></li>
      <li><a href="/catalog" class="hover:text-red-500 focus:text-red-500">catalog</a></li>
      <li><a href="https://component.advenccre.design" class="hover:text-red-500 focus:text-red-500">components</a></li>
    </ul>
  </nav>
</header>