<header>
  <nav class="flex fixed top-0 left-0 w-full justify-between bg-gradient-to-b from-white dark:from-slate-800 to-transparent px-4 py-3">
    <a class="logo flex items-center" href="/">
      <img class="h-10 mr-2 translate-y-[2px]" src="/image/Advenccre.svg" alt="Advenccre icon">
      <span class="font-semibold text-2xl font-marker">Advenccre</span>
    </a>
    <ul class="flex items-center [&>*]:mx-3 [&>*]:font-marker [&>*]:text-lg">
      <li><a href="/" class="hover:text-red-500">home</a></li>
      <li><a href="/docs" class="hover:text-red-500">docs</a></li>
      <li><a href="/catalog" class="hover:text-red-500">catalog</a></li>
      <li><a href="/components" class="hover:text-red-500">components</a></li>
    </ul>
  </nav>
</header>