
.v2-arrow-down-box:before { content: '\e800'; } /* '' */
.v2-arrow-up-box:before { content: '\e801'; } /* '' */
.v2-bin:before { content: '\e802'; } /* '' */
.v2-clipboard:before { content: '\e803'; } /* '' */
.v2-cube-box:before { content: '\e804'; } /* '' */
.v2-externaldrive:before { content: '\e805'; } /* '' */
.v2-dmg:before { content: '\e806'; } /* '' */
.v2-file-image:before { content: '\e807'; } /* '' */
.v2-file-text:before { content: '\e808'; } /* '' */
.v2-file-video:before { content: '\e809'; } /* '' */
.v2-file-zip:before { content: '\e80a'; } /* '' */
.v2-folder:before { content: '\e80b'; } /* '' */
.v2-folder-open:before { content: '\e80c'; } /* '' */
.v2-tray-tower:before { content: '\e80d'; } /* '' */
.v2-trash:before { content: '\e80e'; } /* '' */
.v2-tray:before { content: '\e80f'; } /* '' */
.v2-bubble:before { content: '\e810'; } /* '' */
.v2-bubbles:before { content: '\e811'; } /* '' */
.v2-hand-thumbsup:before { content: '\e812'; } /* '' */
.v2-square-user:before { content: '\e814'; } /* '' */
.v2-user:before { content: '\e815'; } /* '' */
.v2-users:before { content: '\e816'; } /* '' */
.v2-people:before { content: '\e817'; } /* '' */
.v2-face:before { content: '\e818'; } /* '' */
