---
import Layout from "./layout/Layout.astro";
---
<Layout pageType="404" title="404" desc="this page is not you're looking for.">
  <main class="h-screen grid place-items-center text-center">
      <div>
        <h1 class="font-marker text-8xl mb-6">404 :(</h1>
        <p>The page you are looking for is not founded.</p>
      </div>
  </main>
</Layout>