---
import Layout from "./layout/Layout.astro";
---

<Layout title="HomePage" desc="welcome!" pageType="home">
	<main class="[&>section]:h-[115vh]">
		<section class="max-h-screen min-h-[28rem] text-center grid place-items-center">
			<div class="flex flex-col items-center">
				<img src="/image/Advenccre.svg" alt="bandana" class="w-72 select-none">
				<h1 class="animate-fadein text-7xl sm:text-8xl font-marker font-semibold mb-4 -mt-16">The Advenccre</h1>
				<p class="animate-fadein delay-200">Time to start your develop journey.</p>
			</div>
		</section>
		<section class="grid grid-cols-2">
			<div class="m-6 h-full grid items-center content-center">
				<h2 class="text-5xl font-marker mb-4 animate-fadeinRight">Everything that frontend need.</h2>
				<p>hello</p>
			</div>
		</section>
	</main>
</Layout>