---
import Layout from "./layout/Layout.astro";
import Card from "../components/Card/Card.svelte";
---


<Layout title="HomePage" desc="welcome!" pageType="home">
	<main class="[&>section]:h-screen">
		<section class="text-center grid place-items-center">
			<div class="flex flex-col items-center">
				<img src="/image/Advenccre.svg" alt="bandana" class="w-80 ">
				<h1 class=" animate-fadein text-8xl font-marker font-semibold mb-4 -mt-20">Advenccre</h1>
				<p>The components that you need in today</p>
			</div>
		</section>
		<section></section>
	</main>
</Layout>
