@font-face {
  font-family: 'voyager2';
  src: url('../font/voyager2.eot?33263868');
  src: url('../font/voyager2.eot?33263868#iefix') format('embedded-opentype'),
       url('../font/voyager2.woff2?33263868') format('woff2'),
       url('../font/voyager2.woff?33263868') format('woff'),
       url('../font/voyager2.ttf?33263868') format('truetype'),
       url('../font/voyager2.svg?33263868#voyager2') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'voyager2';
    src: url('../font/voyager2.svg?33263868#voyager2') format('svg');
  }
}
*/
[class^="v2-"]:before, [class*=" v2-"]:before {
  font-family: "voyager2";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  /* margin-right: .2em; */
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* margin-left: .2em; */

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.v2-arrow-down-box:before { content: '\e800'; } /* '' */
.v2-arrow-up-box:before { content: '\e801'; } /* '' */
.v2-bin:before { content: '\e802'; } /* '' */
.v2-clipboard:before { content: '\e803'; } /* '' */
.v2-cube-box:before { content: '\e804'; } /* '' */
.v2-externaldrive:before { content: '\e805'; } /* '' */
.v2-dmg:before { content: '\e806'; } /* '' */
.v2-file-image:before { content: '\e807'; } /* '' */
.v2-file-text:before { content: '\e808'; } /* '' */
.v2-file-video:before { content: '\e809'; } /* '' */
.v2-file-zip:before { content: '\e80a'; } /* '' */
.v2-folder:before { content: '\e80b'; } /* '' */
.v2-folder-open:before { content: '\e80c'; } /* '' */
.v2-tray-tower:before { content: '\e80d'; } /* '' */
.v2-trash:before { content: '\e80e'; } /* '' */
.v2-tray:before { content: '\e80f'; } /* '' */
.v2-bubble:before { content: '\e810'; } /* '' */
.v2-bubbles:before { content: '\e811'; } /* '' */
.v2-hand-thumbsup:before { content: '\e812'; } /* '' */
.v2-square-user:before { content: '\e814'; } /* '' */
.v2-user:before { content: '\e815'; } /* '' */
.v2-users:before { content: '\e816'; } /* '' */
.v2-people:before { content: '\e817'; } /* '' */
.v2-face:before { content: '\e818'; } /* '' */
