@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'SF Compact', 'Osaka';
	margin: 0;
	padding: 0;
	font-weight: 500;
	color: #000;
	&::-webkit-scrollbar {
			width: 0.5rem;
		background-color: transparent;
	}
	&::-webkit-scrollbar-thumb {
		width: 5rem;
		background-color: rgb(150, 150, 150);
		border-radius: 2px;
	}
}
/* Text Style */
h1 {
	margin-top: 1.75rem;
	margin-bottom: 1.75rem;
	font-size: 5rem;
	font-weight: 700;
}
h2 {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	font-size: 4.25rem;
	font-weight: 700;
}
h3 {
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	font-size: 3.75rem;
	font-weight: 700;
}
h4 {
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 3rem;
	font-weight: 600;
}
h5 {
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 2.5rem;
	font-weight: 600;
}
h6 {
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 2rem;
	font-weight: 600;
}
p {
	font-size: 1.125rem;
	font-weight: 500;
}
:is(h1, h2, h3) > strong {
	font-weight: 900;
}
:is(h4, h5, h6) > strong {
	font-weight: 800;
}
p > strong {
	font-weight: 700;
}
code {
	font-family: 'SF Mono';
	background-color: #ddd;
	padding: 0.5rem;
}
.secondary {
	color: #666;
}
/* Text Style End */
